In [30]:
import pandas as pd
import numpy as np

In [10]:
mer=pd.Series([1,2,3,5,8,99,23,12],index=["a",2,3,4,5,6,7,8])

In [11]:
mer.head()

a    1
2    2
3    3
4    5
5    8
dtype: int64

In [12]:
mer[1:4]

2    2
3    3
4    5
dtype: int64

In [13]:
mylist=pd.Series({"mer":2,"ic":6})
mylist

mer    2
ic     6
dtype: int64

In [14]:
pd.concat([mylist,mer])

mer     2
ic      6
a       1
2       2
3       3
4       5
5       8
6      99
7      23
8      12
dtype: int64

In [22]:
a=np.arange(1,16).reshape(5,3)
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [24]:
pd.DataFrame(a,columns=["col1","col3","col4"])

   col1  col3  col4
0     1     2     3
1     4     5     6
2     7     8     9
3    10    11    12
4    13    14    15

In [25]:
m1=np.random.randint(1,10,size=5)
m2=np.random.randint(1,10,size=5)
m3=np.random.randint(1,10,size=5)
mylist2={"col1":m1,"col2":m2,"col3":m3}
mylist2

{'col1': array([6, 9, 2, 1, 3]),
 'col2': array([7, 3, 2, 1, 4]),
 'col3': array([5, 3, 2, 4, 1])}

In [28]:
pd.DataFrame(mylist2)

   col1  col2  col3
0     6     7     5
1     9     3     3
2     2     2     2
3     1     1     4
4     3     4     1

In [12]:
m1=np.random.randint(1,10,size=(5,3))
df=pd.DataFrame(m1,columns=("col1","col2","col3"))
df

   col1  col2  col3
0     5     5     4
1     1     5     3
2     2     2     5
3     2     4     1
4     2     9     8

In [4]:
df.iloc[1:3]

   col1  col2  col3
1     4     9     5
2     2     8     6

In [7]:
df.iloc[2:3,1:2]

   col2
2     8

In [11]:
df.iloc[:3,["col2"]]

IndexError: .iloc requires numeric indexers, got ['col2']

In [39]:
df1=df.drop("col1",axis=1)
m=np.random.randint(1,10,size=(5,2))
df2=pd.DataFrame(m,columns=("col2","col3"))
pd.concat([df2,df],join = "inner")

   col2  col3
0     1     1
1     5     5
2     4     6
3     3     4
4     1     4
0     5     4
1     5     3
2     2     5
3     4     1
4     9     8

In [25]:
pd.concat([df1,df],join="inner")

   col2  col3
0     5     4
1     5     3
2     2     5
3     4     1
4     9     8
0     5     4
1     5     3
2     2     5
3     4     1
4     9     8